<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26417" Action="Warning" />
    <Rule Id="C26433" Action="Warning" />
    <Rule Id="C26440" Action="Warning" />
    <Rule Id="C26443" Action="Warning" />
    <Rule Id="C26477" Action="Warning" />
    <Rule Id="C26478" Action="Warning" />
    <Rule Id="C26479" Action="Warning" />
    <Rule Id="C26494" Action="Warning" />
    <Rule Id="C26495" Action="Warning" />
    <Rule Id="C26496" Action="Warning" />
    <Rule Id="C26497" Action="Warning" />
    <Rule Id="C26818" Action="Warning" />
    <Rule Id="C26819" Action="Warning" />
    <Rule Id="C6011" Action="Warning" />
    <Rule Id="C6244" Action="Warning" />
    <Rule Id="C6246" Action="Warning" />
    <Rule Id="C6336" Action="Warning" />
    <Rule Id="C6395" Action="Warning" />
  </Rules>
</RuleSet>